<%= render "navbar" %>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h2 class="header center orange-text">Pontuações</h2>
  </div>
</div>

<div class="container">
  <table class="striped">
    <thead>
      <tr>
        <th>UID</th>
        <th>Data de Pontuação</th>
        <th>Nome</th>
        <th>Pontuação</th>
      </tr>
    </thead>
    <tbody>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.uid %></td>
          <td><%= l score.date.to_date, format: :customformat %></td>
          <td><%= score.username %></td>
          <td><%= score.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
