<p>
  <strong>Id:</strong>
  <%= @score.id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @score.date %>
</p>

<p>
  <strong>Nome de usuário:</strong>
  <%= @score.username %>
</p>

<p>
  <strong>Id de usuário:</strong>
  <%= @score.uid %>
</p>

<p>
  <strong>Pontuação:</strong>
  <%= @score.points %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @score.created_at %>
</p>

<p>
  <strong>Atualizado em:</strong>
  <%= @score.updated_at %>
</p>
